{% load static solo_tags %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi amigo foráneo</title>
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
</head>
<body>
<div class="container-fluid">
    <a href="/administracion">
        <div class="row bg-primary" style="color: white; padding-top: 20px; padding-bottom: 20px;">
            <span class="text-center" style="font-size: 1.5em">Sitio administrativo Mi amigo foráneo</span>
        </div>
    </a>
</div>
<script src="{% static 'home/js/bootstrap.min.js' %}"></script>
</body>
</html>